
<app-title title="Defer Views / Blocs" />


<section class="grid grid-cols-1">


  @defer () {
    <app-heavy-loaders-slow cssClass="bg-blue-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }

  @defer (on idle) {
    <app-heavy-loaders-slow cssClass="bg-green-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }

  @defer (on viewport) {
    <app-heavy-loaders-slow cssClass="bg-purple-500" />
  } @placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
      Cargando...
    </p>
  }



</section>


